form {
    padding: 10px;
}
input,select {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    height: 100px;
    background-color:$light-gray;
    border: 0;
    font-size: 1.5em;
}
#urlerror{
    color: red;
    margin-bottom: 20px;
}